# Terraform Configs
terraform_remote_hostname             = "app.terraform.io"
terraform_remote_token                = "ENTERTOKEN"
terraform_remote_organization         = "ENTERORG"
terraform_remote_networking_workspace = "ENTERVPCWORKSPACE"

# IIIF URL setup
iiif_app_name                 = "stage-app"
iiif_app_ssl_cert_arn         = "enteracmarnforalb"

# Fargate IIIF cluster settings
container_host_memory             = "5120"
container_host_cpu                = "2048"
container_count                   = 2
enable_load_balancer              = 1
dockerhub_credentials_secrets_arn = "entersecretsarntoaccessprivatedockerregistry"

# Cantaloupe Container Definitions
cantaloupe_memory                            = "4096"
cantaloupe_image_url                         = "registry.hub.docker.com/uclalibrary/cantaloupe-ucla:4.1.4"
cantaloupe_listening_port                    = 8182
cantaloupe_admin_secret                      = "enteradminpassword"
cantaloupe_processor_selection_strategy      = "ManualSelectionStrategy"
cantaloupe_manual_processor_jp2              = "KakaduNativeProcessor"
cantaloupe_heapsize                          = "4g"
cantaloupe_source_static                     = "S3Source"
cantaloupe_s3_source_access_key              = "entersources3accesskey"
cantaloupe_s3_source_secret_key              = "entersources3secretkey"
cantaloupe_s3_source_bucket                  = "entersources3bucket"
cantaloupe_s3_source_endpoint                = "s3.us-west-2.amazonaws.com"
cantaloupe_s3_source_basiclookup_suffix      = ".jpx"

# fester Container Definitions
fester_memory                         = "1024"
fester_listening_port                 = 8183
fester_s3_access_key                  = "entersources3accesskey"
fester_s3_secret_key                  = "entersources3secretkey"
fester_s3_bucket                      = "entersources3bucket"
fester_s3_region                      = "us-west-2"
fester_image_tag                      = "0.0.1"

# CloudFront Settigs
iiif_jpg_path_pattern                       = "*.jpg"
iiif_alb_dns_name                           = "enteralbdnsname"
iiif_public_dns_names                       = ["enterpublicfacingdomain"]
# This certificate arn needs be referenced from us-east-1. CloudFront only imports certificates from us-east-1 region
iiif_cloudfront_ssl_certificate_arn         = "enteracmarnforcloudfront"
iiif_cloudfront_price_class                 = "PriceClass_100"
iiif_jpg_default_ttl                        = 0
iiif_jpg_max_ttl                            = 31536000

