# VPC Setup
vpc_cidr_block      = "172.16.0.0/16"
subnet_count        = 2
subnet_int          = 10

# IIIF URL setup
iiif_app_name         = "example"
iiif_app_ssl_cert_arn = "arn:aws:acm:us-west-2:0123456789:certificate/hash"

# Ancillary vars needed for Fargate configuration to authenticate via Dockerhub
dockerhubauth_credentials_arn = "arn:aws:secretsmanager:us-west-2:0123456789:secret:creds/ecs/secrets"
dockerauth_arn                = "arn:aws:iam::0123456789:policy/auth_dockerhub"

# General Cantaloupe Vars cantaloupe_processor_selection_strategy = "ManualSelectionStrategy"
cantaloupe_app_port                     = "8182"
cantaloupe_processor_selection_strategy = "ManualSelectionStrategy" 
cantaloupe_manual_processor_jp2         = "KakaduNativeProcessor"
cantaloupe_enable_admin                 = "true"
cantaloupe_admin_secret                 = "testpassword"
s3_source_basiclookup_suffix            = ".jpx"
cantaloupe_heapsize                     = "2g"

# Cantaloupe Derivative S3
cantaloupe_enable_cache_server          = "true"
cantaloupe_cache_server_derivative      = "S3Cache"
cantaloupe_cache_server_derivative_ttl  = "0"
cantaloupe_cache_server_purge_missing   = "true"
s3_cache_access_key                     = "ACCESS_KEY"
s3_cache_secret_key                     = "SECRET_KEY"
s3_cache_bucket                         = "BUCKET_NAME"
s3_cache_endpoint                       = "s3.us-west-2.amazonaws.com"

# Cantaloupe Source S3
cantaloupe_source_static      = "S3Source"
s3_source_access_key          = "ACCESS_KEY"
s3_source_secret_key          = "SECRET_KEY"
s3_source_bucket              = "BUCKET_NAME"
s3_source_endpoint            = "s3.us-west-2.amazonaws.com"

# Manifest Store Settings
manifeststore_app_port        = "8888"
manifeststore_cpu             = "1024"
manifeststore_memory          = "2048"
manifeststore_s3_bucket       = "BUCKET_NAME"
manifeststore_s3_access_key   = "ACCESS_KEY"
manifeststore_s3_secret_key   = "SECRET_KEY"
manifeststore_s3_region       = "us-west-2"

# KakaduConverter Lambda Settings
kakadu_converter_artifact              = "files/yourapp.jar"
kakadu_converter_app_name              = "converter"
kakadu_converter_layers                = ["arn:aws:lambda:us-west-2:0123456789:layer:img2lambda-sha256-yourhash:1", "arn:aws:lambda:us-west-2:0123456789:layer:img2lambda-sha256-yourhash:1"]
kakadu_converter_handler               = "com.example"
kakadu_converter_filter_suffix         = ".tif"
kakadu_converter_memory_size           = "1024"
kakadu_converter_runtime               = "java8"
kakadu_converter_timeout               = "600"
kakadu_converter_bucket_event          = ["s3:ObjectCreated:*"]
kakadu_converter_environment_variables = {
  DESTINATION_BUCKET = "BUCKET_NAME"
}

# KakaduConverter Bucket Info
kakadu_converter_s3_tiff_bucket        = "BUCKET_NAME"
kakadu_converter_s3_tiff_bucket_region = "us-west-2"

# KakaduConverter IAM settings
kakadu_converter_cloudwatch_permissions = ["logs:CreateLogGroup","logs:CreateLogStream","logs:PutLogEvents"]
kakadu_converter_s3_permissions         = ["s3:*"]
kakadu_converter_s3_buckets             = ["arn:aws:s3:::*","arn:aws:s3:::*"]

# CloudFront Settings
iiif_thumbnail_path_pattern                 = "*/full/*200*200/0/default.jpg"
iiif_alb_dns_name                           = "ALBOriginURL"
iiif_public_dns_names                       = ["yourpublicdomainname"]

# This certificate arn needs be referenced from us-east-1. CloudFront only imports certificates from us-east-1 region
iiif_cloudfront_ssl_certificate_arn         = "arn:aws:acm:us-east-1:0123456789:certificate/hash"
iiif_cloudfront_price_class                 = "PriceClass_100"

