# Values set can be referenced here: https://github.com/UCLALibrary/docker-cantaloupe/blob/master/configs/cantaloupe.properties.default-4.1.1
# Ancillary vars needed for Fargate configuration to authenticate via Dockerhub

# This ARN references the ARN for the secret stored in AWS. This secrets contains Dockerhub credentials that allows for Fargate to pull from Dockerhub.com
dockerhubauth_credentials_arn = "arn:aws:secretsmanager:us-west-2:0123456789:secret:fargateauth/parametername"

# This ARN references an IAM policy that grants Fargate access to the secret parameter stored in the ARN above. This gets added in the cantaloupe module's execution role as a policy.
dockerauth_arn                = "arn:aws:iam::0123456789:policy/iampolicytograntssmaccess"

# General Cantaloupe Vars
cantaloupe_processor_selection_strategy = "ManualSelectionStrategy"
cantaloupe_manual_processor_jp2         = "KakaduNativeProcessor"
cantaloupe_enable_admin                 = "true"
cantaloupe_admin_secret                 = "secretpassword!"
s3_source_basiclookup_suffix            = ".jpx"
cantaloupe_heapsize                     = "2g"

# Derivative S3
cantaloupe_enable_cache_server          = "true"
cantaloupe_cache_server_derivative      = "S3Cache"
cantaloupe_cache_server_derivative_ttl  = "0"
cantaloupe_cache_server_purge_missing   = "true"
s3_cache_access_key                     = "Your credentials"
s3_cache_secret_key                     = "your credentials"
s3_cache_bucket                         = "your bucket"
s3_cache_endpoint                       = "s3.us-west-2.amazonaws.com"


# Source S3
cantaloupe_source_static      = "S3Source"
s3_source_access_key          = "Your credentials"
s3_source_secret_key          = "your credentials"
s3_source_bucket              = "your bucket"
s3_source_endpoint            = "s3.us-west-2.amazonaws.com"
